<template>
    <div class="container" >
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card card-default">
                    
                    <div class="card-body">
                        <div class="row">
                          

                          <div class="col-md-12">

                              
                            <legend><h6><b>Upload Proof of Payment</b></h6></legend>
                            <div class="form-group">
                                <b><small style="color: red;" v-if="error.message">{{error.message}}</small></b>
                                <input type="file" class="form-control" name="" id="" placeholder="Input..." @change="fieldChanged">
                            </div>

                            <button class="btn btn-primary btn-block center-block" @click="uploadFile">Submit</button>

                              


                          </div>
                          
                             
                             
                          
                       </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    export default {

        props: ['narration'],
        data() {

            return {
                attachment: null,
                form: new FormData,
                error: {}
            }

        },
        methods: {
            fieldChanged(e){
                console.log(e);
                let selectedFile=e.target.files[0];
                this.attachment=selectedFile;
            },

            uploadFile(){
                this.form.append('payment_proof', this.attachment);
                const config = { headers: { 'Content-Type': 'multipart/form-data' } };

                axios.post('/delegates/proof', this.form, config).then(response=>{
                    //success
                    this.sendNarration();
                })
                    .catch((err)=>{
                        
                        if(err.response.status === 404) {
                            this.error = err.response.data
                            console.log(this.error.message)
                        }
                });

                
            },

            sendNarration() {

                axios.post('/delegates/narration', {narration: this.narration}).then(response=>{
                    //success
                    
                    window.location.href = "/"
                    
                }).catch((err) => {
                    console.log(err.response.data)
                })
                
            },

            
        },

        mounted() {
            console.log('component mounted');
        }
    }
    // export default {

    //     props: ['narration'],
    //     data(){
    //         return {
    //             payment_proof: '',
    //             error: {},
    //         }
    //     },

    //     methods: {
    //         onImageChange(e) {
    //             let files = e.target.files || e.dataTransfer.files;
    //             if (!files.length)
    //                 return;
    //             this.createImage(files[0]);
    //         },
    //         createImage(file) {
    //             let reader = new FileReader();
    //             let vm = this;
    //             reader.onload = (e) => {
    //                 vm.payment_proof = e.target.result;
    //             };
    //             reader.readAsDataURL(file);
    //         },
    //         uploadImage(){
                
    //             axios.post('/delegates/proof',{payment_proof: this.payment_proof, narration: this.narration}).then(response => {
    //                if (response.data.success) {
    //                  alert(response.data.success);
    //                }
    //             })
    //             .catch((err) => {
    //             if(err.response.status === 422) {
    //                 this.error = err.response.data.errors
    //                 console.log(this.error)
    //             }
    //             this.isProcessing = false
    //           });
    //         }
    //     }
        
    // }
</script>