<template>
    <div>
        
        <div class="cs-browse-holder form-group"> <em>My Profile Photo</em>
            <b><small style="color: red;" v-if="error.message">{{error.message}}</small></b>
            <br>
            <span class="file-input "> Update Profile Image
                <input type="file" class="form-control" name="avatar" @change="fieldChanged">

            </span>
            <button type="submit" class="btn btn-sm btn-block" @click="uploadFile">Save</button>

        </div>

        
    </div>
</template>

<script>
export default {


    data() {

        return {
            attachment: null,
            form: new FormData,
            error: {}
        }

    },

    methods: {
        fieldChanged(e){
            console.log(e);
            let selectedFile=e.target.files[0];
            this.attachment=selectedFile;
        },

        uploadFile(){
            this.form.append('profile_picture', this.attachment);
            const config = { headers: { 'Content-Type': 'multipart/form-data' } };

            axios.post('/upload', this.form, config).then(response=>{
                //success
                console.log('success');
                window.location.href = "/home"
            })
                .catch((err)=>{
                    
                    if(err.response.status === 404) {
                        this.error = err.response.data
                        console.log(this.error.message)
                    }
            });

            
        },

        

            
    },

}
</script>

<style>

</style>
