.gradient {
    background-size: cover;
    padding: 50px 0;
    position: relative;
  }

  .glass {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-image: linear-gradient( to right, #0000008c, #1b1a1ad6 );
  }

  .element-item {
    position: inherit !important;
  }
  a {
    cursor: pointer;
    }

  .course-list {
    height: auto !important;
  }

  .main-section {
    margin: 0px 0 0 0;
}



.cs-courses .cs-media figure img {
  /* width: 100%; */
  height: 150px;
  object-fit: cover;
}

.custom-slide {
  width: 400px !important;
}

.material {
  background-color:white !important;
}

.calendar-header {

  border: solid 1px #207dba;
  margin: -13px;
  padding: 15px;
  background-color: #207dba;
  margin-bottom: 10px;
}

.calendar-header a {
    color: #fff !important;
}

.owl-carousel .custom-caption {
    min-height: 170px;
}

.navbar-default .navbar-nav > li > a {
    color: #333333;
    font-weight: bold;
}

a:hover {
  color: black !important;
}
.cs-bgcolor, .chosen-container-multi .chosen-choices li.search-choice, .chosen-container .chosen-results li.highlighted, #header .main-navigation ul ul > li:hover, .slicknav_nav a, .slicknav_menu .slicknav_icon-bar, .cs-services.top-center:hover .cs-media, .cs-journy-timeline ul li a:before, .cs-journy-timeline ul li a:hover:after, .cs-journy-timeline ul li.active a:after, .cs-journy-timeline ul li.active a:before, ul.cs-testimonial .cs-media figure figcaption:after, .cs-widget-links li:after, ul.cs-breadcrumb li:after, .cs-courses-detail .cs-section-title:before, .wp-smartstudy .cs-sorting-list .cs-package-list li a:hover, .wp-smartstudy .cs-listing-filters li input[type="checkbox"]:checked + label:after, .mCS-dark.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar, .cs-courses-detail .cs-section-title:before, .cs-team-detail .cs-section-title:before, .cs-blog-grid-slider button:hover, .widget-search form label input[type="submit"], .widget-categories ul li:hover:before, .widget-tags ul li a:hover, .cs-tags ul li a:hover, .wp-smartstudy .cs-event-filters li input[type="checkbox"]:checked + label:after, .responsive-calendar .day a:hover, .wp-smartstudy .cs-event.list .cs-text .cs-event-price a:hover, .wp-smartstudy .cs-event-detail-tabs ul.nav-tabs li:hover a, .wp-smartstudy .cs-event-detail-tabs ul.nav-tabs li.active a, .wp-smartstudy .cs-share-btn:hover, .cs-shortcode-accordion.fancy .panel-heading a, .cs-shortcode-table table thead tr th, .cs-shortcode-accordion.box .panel-heading a:before, .cs-dropcap-one p:first-letter, .wp-smartstudy .cs-teamlist-slider .slick-prev:hover, .wp-smartstudy .cs-teamlist-slider .slick-next:hover, .cs-blogsmall-slider button:hover, .cs-bloggrid-slider-sm button:hover, .mobile-menu .active, .widget_price_filter .slider-selection, .mobile-menu .input-group-btn > .btn, .mobile-menu li > a:hover, .mobile-menu li:hover > .expand, .mobile-menu li:hover > a, .mobile-menu li > li:hover {
  background-color: #207dba !important;
}


.cs-color {
  color: #207dba !important;
}

/*.cs-color, .active > a, .active > a:hover, .active > a:focus, footer#footer a:hover, #header .main-navigation ul > li:hover > a, #header .main-navigation ul li.menu-item-has-children a:after, .mm-toggle i, #header.modern .main-navigation ul li.menu-item-has-children a:hover:after, #header .main-navigation ul li.menu-item-has-children:hover > a:after, #header .top-bar .cs-user ul li ul li:after, .top-bar .cs-user ul li ul li a i, #header .cs-modal .cs-user-signup a, #header .cs-modal .cs-user-signup a:hover, #header .cs-modal .btn-forgot-pass:hover, #header .cs-modal .modal-footer > a:hover, footer#footer .cs-footer-nav .footer-nav ul li a:hover, footer#footer .copyright-text p a, footer#footer .cs-social-media ul li a:hover i, .slicknav_menu .slicknav_menutxt, .cs-services.top-center:hover .cs-text h5 a, .cs-journy-timeline ul li a:hover, #header.modern .main-navigation ul li.menu-item-has-children:hover > a::after, .wp-smartstudy .cs-team.grid:hover .cs-text h5 a, blockquote p:before, .cs-widget-links li:before, .cs-widget-links li a:hover, ul.cs-breadcrumb li, ul.cs-breadcrumb li a, .wp-smartstudy .cs-usser-account-list ul li a:after, .wp-smartstudy .cs-usser-account-list ul li:hover a, .wp-smartstudy .cs-usser-account-list ul li.active a:after, .wp-smartstudy .cs-logout:hover, .wp-smartstudy .cs-logout:after, .wp-smartstudy .cs-user-content ul.cs-shortlisted li .cs-text h5 a:hover, .wp-smartstudy .cs-list-view li a:hover, .wp-smartstudy .cs-pagination .pagination > li > a:hover, .wp-smartstudy .cs-pagination .pagination > li > span:hover, .wp-smartstudy .cs-pagination .pagination > li > a:focus, .wp-smartstudy .cs-pagination .pagination > li > span:focus, .wp-smartstudy .cs-faqs-list .panel-title a:before, .wp-smartstudy .cs-faqs-list .panel-title a, .wp-smartstudy .cs-courses.courses-listing .cs-post-title h2 a:hover, .wp-smartstudy .courses-grid .cs-post-title h5 a:hover, .wp-smartstudy .cs-courses.courses-simple li h6 a:hover, .blog-grid .cs-readmore-btn:after, .blog-grid .cs-readmore-btn:hover, .widget-categories ul li:hover a, .widget-latest-news ul li .post-title h6 a:hover, .cs-comments ul li .cs-text .cs-replay-btn:hover, .cs-blog-masonry .grid li .cs-blog.masonry .cs-text .cs-post-title h2 a:hover, .wp-smartstudy .cs-event.list .cs-text .cs-post-title h3 a:hover, .cs-events-masonry .grid li .cs-event.grid.simple .cs-text .cs-post-title h5 a:hover, .wp-smartstudy .cs-event-detail-description .cs-tags ul li a:hover, .wp-smartstudy .cs-event-detail-cost .cs-event-price a:hover, .wp-smartstudy .cs-event-detail-speakers .cs-speaker-post .cs-text .cs-view-profile:hover, .wp-smartstudy .cs-event-detail-speakers .cs-speaker-post .cs-text .cs-post-title h4 a:hover, .wp-smartstudy .cs-event-detail-speakers ul.cs-social-media li a:hover, .wp-smartstudy .cs-event-share ul.cs-nav li a:hover, .cs-shortcode-accordion .panel-heading a:before, .cs-shortcode-accordion .panel-heading a, .cs-dropcap-two p:first-letter, .mobile-menu .expand, .mobile-menu .social i, .widget_product_categories li a:hover, .woocommerce ul.cart_list li a:hover, .woocommerce ul.product_list_widget li a:hover, .woocommerce .products li .cs-post-title h5 a:hover, .blog-grid .post-title h6 a:hover, .blog-grid .post-title h5 a:hover, .wp-smartstudy .widget-recent-blog .widget-post-title a:hover, .wp-smartstudy .cs-events-masonry .grid li .cs-event.grid.fancy .cs-text .cs-post-title h5 a:hover, .wp-smartstudy .cs-events-masonry .grid li .cs-event.grid.modren .cs-text .cs-post-title h5 a:hover, .wp-smartstudy .cs-recent-event-widget ul li .cs-recrnt-post .cs-text h6 a:hover, .cs-blog .post-author span a:hover, .cs-blog-detail .post-author span a:hover, .cs-blog .post-options .post-likes a:hover, .cs-blog .post-options .post-comments a:hover, .post-title a:hover, ul.cs-blog-grid-slider li .cs-blog.masonry .cs-text .cs-post-title h2 a:hover, .cs-blog-detail .post-options span a:hover, .cs-blog-masonry .grid li .cs-blog.post-without-img .cs-text .cs-post-title h2 a:hover, .cs-blog-masonry .grid li .cs-blog.cs-slider-post .cs-text .cs-post-title h2 a:hover, .cs-blog-masonry .grid li .cs-blog.cs-blogquote-post .cs-text .cs-post-title h3 a:hover, .cs-contact-fancy.center .cs-text h5 a:hover, .cs-services.top-left .cs-text h5 a:hover, .wp-smartstudy .cs-listing-filters li .checkbox label:hover {
  color: #207dba !important;
}*/

.cs-services.top-center {
    text-align: center;
    border: solid 1px #aaa;
    padding: 15px;
    border-radius: 3px;
    height: 540px;
    overflow: hidden;
    background-color: aliceblue;
}

/*.cs-services.top-center:hover {
    border-color: #207dba;
}*/

.cs-services.top-center .cs-media {
    width: 82px;
    height: 80px;
    border-radius: 100px;
    background: #ffffff;
    text-align: center;
    margin-bottom: 27px;
    display: inline-block;
    border: solid 3px #207dba;
    padding: 13px;
    margin-top: 15px;
}

.cs-services.top-center:hover .cs-media {
  background-color: #ffffff !important;
}

body, .main-section p, .mce-content-body p {
    font: Normal 13px/20px "Open Sans", sans-serif;
    letter-spacing: 1px;
    text-transform: none;
    color: #555555 !important;
}

/*.cs-bgcolor, .chosen-container-multi .chosen-choices li.search-choice, .chosen-container .chosen-results li.highlighted, #header .main-navigation ul ul > li:hover, .slicknav_nav a, .slicknav_menu .slicknav_icon-bar, .cs-services.top-center:hover .cs-media, .cs-journy-timeline ul li a:before, .cs-journy-timeline ul li a:hover:after, .cs-journy-timeline ul li.active a:after, .cs-journy-timeline ul li.active a:before, ul.cs-testimonial .cs-media figure figcaption:after, .cs-widget-links li:after, ul.cs-breadcrumb li:after, .cs-courses-detail .cs-section-title:before, .wp-smartstudy .cs-sorting-list .cs-package-list li a:hover, .wp-smartstudy .cs-listing-filters li input[type="checkbox"]:checked + label:after, .mCS-dark.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar, .cs-courses-detail .cs-section-title:before, .cs-team-detail .cs-section-title:before, .cs-blog-grid-slider button:hover, .widget-search form label input[type="submit"], .widget-categories ul li:hover:before, .widget-tags ul li a:hover, .cs-tags ul li a:hover, .wp-smartstudy .cs-event-filters li input[type="checkbox"]:checked + label:after, .responsive-calendar .day a:hover, .wp-smartstudy .cs-event.list .cs-text .cs-event-price a:hover, .wp-smartstudy .cs-event-detail-tabs ul.nav-tabs li:hover a, .wp-smartstudy .cs-event-detail-tabs ul.nav-tabs li.active a, .wp-smartstudy .cs-share-btn:hover, .cs-shortcode-accordion.fancy .panel-heading a, .cs-shortcode-table table thead tr th, .cs-shortcode-accordion.box .panel-heading a:before, .cs-dropcap-one p:first-letter, .wp-smartstudy .cs-teamlist-slider .slick-prev:hover, .wp-smartstudy .cs-teamlist-slider .slick-next:hover, .cs-blogsmall-slider button:hover, .cs-bloggrid-slider-sm button:hover, .mobile-menu .active, .widget_price_filter .slider-selection, .mobile-menu .input-group-btn > .btn, .mobile-menu li > a:hover, .mobile-menu li:hover > .expand, .mobile-menu li:hover > a, .mobile-menu li > li:hover
{
  height: 40px;
}*/

.wp-smartstudy .cs-text-widget .cs-text a {
    border-radius: 3px;
    color: #fff;
    font-size: 11.5px;
    font-weight: 700;
    padding: 5px 20px 8px;
    display: inline-block;
    text-decoration: none;
    outline: none;
}